/* $Id: cssFAQPrint.css,v 1.2 2004/02/24 01:51:27 neuro Exp $ */

h1 {
	font-family : Verdana, Helvetica, Arial, Sans-Serif;
	font-size: 2.0em;
	font-weight: normal;
	margin-top: 0em;
	margin-bottom: 0em;
	background-color : transparent;
	color : #ffffff;
}

body {
	font-size : 0.7em; 
	color : #000000; 
	font-family : Verdana, Helvetica, Arial, Sans-Serif; 
	background-color : #ffffff; 
}

.pageHeader {
	background-color: #004e98;
	color: #ffffff;
	margin: 0em 0em;
	padding: 1.5em 2.0em;
	page-break-before : auto;
}

.itemExpired {
	font-weight: bold;
	color: #999999;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	background-color: #ffffff;
}

.itemPending {
	font-weight : bold;
	color : #6699ff; 
	font-family : Verdana, Helvetica, Arial, Sans-Serif; 
	background-color : #ffffff;
	visibility: hidden;
}

.itemRemoved {
	font-weight : bold;
	color : #ff0033; 
	font-family : Verdana, Helvetica, Arial, Sans-Serif; 
	background-color : #ffffff;
	visibility: hidden;
}

.itemUpdated {
	font-weight : bold;
	color : #66cc66; 
	font-family : Verdana, Helvetica, Arial, Sans-Serif; 
	background-color : #ffffff;
	visibility: hidden;
}

.itemWarning {
	font-weight: bold;
	color: #000000;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	background-color: #ffffff;
}

.pageNavigation {
	color : #000000;
	font-family : Verdana, Helvetica, Arial, Sans-Serif;
	background-color : #ffffff;
	text-align: center;
	width: 100%;
	visibility: hidden;
}

.siteNavigation {
	color : #000000;
	font-family : Verdana, Helvetica, Arial, Sans-Serif;
	background-color : #ffffff;
	text-align: center;
	width: 100%;
}

.sectionTitle {
	font-size : 14pt; 
	color : #006699; 
	font-family : Verdana, Helvetica, Arial, Sans-Serif; 
	background-color : #ffffff; 
}

.bodyTable {
	border-top: #006699 1px solid;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: #006699 1px solid;
}

.pageFooter {
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
	color: #999999;
	background-color: #ffffff;
	width: 80%;
	text-align: center;
	padding-left: 10%;
}

.bodyText {
	color : #000000; 
	font-family : Verdana, Helvetica, Arial, Sans-Serif; 
	background-color : #ffffff;
	width: 95%;
}

a:link {
	color : #006699; 
	font-family : Verdana, Helvetica, Arial, Sans-Serif; 
	background-color : #ffffff; 
}

a:visited {
	color : #006699; 
	font-family : Verdana, Helvetica, Arial, Sans-Serif; 
	background-color : #ffffff; 
}

pre, tt {
	font-size: 1em;
	background-color: #ffffff;
	color: #000000;
	font-family: 'Courier New' , Monospace, Sans-Serif;
}